@import 'tailwindcss';

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

input[type=number]{
    -moz-appearance: textfield;
}


@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* Later for changing font of flash messages */
/* .my-custom-toast {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333;
} 
    And in App.jsx, do this:
    <ToastContainer toastClassName="my-custom-toast" />
    */